@import "tailwindcss";

body {
  margin: 0 !important;
  background-color: #eceff3;
}

#app {
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  background-color: #eceff3;
  min-height: 100dvh;
}

@media (max-width: 450px) {
  #app {
  width: 400px; 
}
}

@media (max-width: 375px) {
  #app {
  width: 350px; 
}
}



h2 {
  margin: 0;
}